.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px; 
    margin-left: 20px;
    border: 5px solid #dfdfdf;
    border-radius: 10px;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0 0 10px 0;
}

.dropdown-content {
    display: none;
    background-color: #f1f1f1;
    width: 96%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 2px solid black;
    margin: 0px 0px 0px 20px;
}

.dropdown-content a {
    color: black;
    padding: 20px 16px;
    
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 10px;
    /* Place the button at the bottom of the page */
    right: 20px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #2980B9;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 50px;
    /* Rounded corners */
    font-size: 20px;
    /* Increase font size */
}

#myBtn:hover {
    background-color:rgba(0, 0, 0, 0.2);
    /* Add a dark-grey background on hover */
}

.hi {
    margin-left: 100px;
    float: left;
}

.hi1 {
    margin-left: 5%;
}

.turnbackbut {
    
    
    
    display: inline-block;
    margin: 10px 10px 10px 10px;
}

.anh {
    float: left;
    margin: 2%;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    padding: 5px;
}
#frame_canvas{
    margin: 20px;
    border:1px solid black;
}

.test{
    margin: 30px;   
}

.test2{
    margin: 20px;
}